.carousel{
    margin-top: 20px;
}

.figures{
    text-align: center;
    position: relative;
    top: 20;
}

.figure-caption1{
    text-align: left;
    font-size: .875em;
    color: #6c757d
}

.navbar-light{
    background-color: steelblue;
}

/*Container da index*/
.container-fluid2{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    font-size: x-large;
    color: white;
}

.p-nav{
    color: white;
    font-size: 16pt;
    position: relative;
    top:6px;
    margin-right: 15px;
}
.container-fluid a:hover{
    background-color: rgb(35, 113, 177);
    color: white;
    border-radius: 8px;
    box-shadow:  0 0 5px rgb(156, 211, 255),
                 0 0 10px rgb(156, 211, 255);
    
}

.dropdown-menu li a{
    color: black;
}

.dropdown-menu li a:hover{
    color: black;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    background-image: url("imgs/fundo4.jpg");   
}

.text-center {
    background-color: steelblue;
}

.accordion{
    text-align: justify;
}

.accordion-body h3{
    text-align: center;
}


.social-networks{
    padding: 20px;
}

.social-networks svg{
    padding: 10px;
    width:50px;
    height: 50px;
    padding-left: 20px;
}

.d-flex {
    background-color: steelblue;
    padding: 10px;
    color: white;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
    color: white;
}

.bi:hover{
    background-color: rgb(35, 113, 177);
    color: white;
    border-radius: 6px;
    box-shadow:  0 0 8px rgb(156, 211, 255),
                 0 0 18px rgb(156, 211, 255);
    
}


  